<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About | Gragt.com</title>
    <link rel="stylesheet" href="css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Amiri" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Karla" rel="stylesheet">
    <link rel="icon" href="./img/favicon.png" type="image/png">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css">
</head>

<body class="about">
<div id="sidebar">
    <span class="social_change0">about<span><a class="social_change1" href="index.html">gragt.com</a></span></span>
        <div class="menu sidebar_nav">
            <input id="menu_trigger" type="checkbox">
            <label class="social_change2"for="menu_trigger">≡</label>
            <div class="menu_overlay" role="dialog" aria-labelledby="menu_title" aria-describedby="menu_desc">
                <div class="menu_wrap">
                    <label for="menu_trigger">&#10006;</label>
                    <h2 id="menu_title">Menu</h2>
                    <div id="menu_desc">
                        <nav>
                            <ul>
                              <li><a class="menu_item" href="index.html"><span class="menu_item_name">Home</span></a></li>
                               <li><a class="menu_item" href="Work.html"><span class="menu_item_name">Work</span></a></li>
                               <li><a class="menu_item" href="about.html"><span class="menu_item_name">About</span></a></li>
                               <li><a class="menu_item" href="contact.html"><span class="menu_item_name">Contact</span></a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- Dit is het menu, en tevens de sidebar -->
<div class="me glitch glitch-1">
    <div class="glitch_img"></div>
    <div class="glitch_img"></div>
    <div class="glitch_img"></div>
    <div class="glitch_img"></div>
    <div class="glitch_img"></div>
</div> <!-- Dit is mijn foto -->
<div class="content_txt">
    
    <div>
    <p class="pre_title">A little bit</p>
    <h1>About me</h1>
    <p class="caption">Design Student bij de Hogeschool van Amsterdam</p>
    <p class="about_me">Hi, ik ben Stijn, een designer die al geruime tijd rond Amsterdam aan het studeren is. Ik ben al ruim 2,5 jaar aan het designen voor verschillende projecten. Ik heb gewerkt aan verschillende projecten waaronder het maken van websites, branding concepting en UX. Ik ben altijd geintereseerd in nieuwe projecten, dus stuur gerust een bericht.</p>
    <div class="social_container">
        <a href="#" class="social_item linkedin_color"><span class="fab fa-linkedin social_icon"></span></a>
        
        <a href="#" class="social_item dribbble_color"><span class="fab fa-dribbble social_icon"></span></a>
        
        <a href="#" class="social_item github_color"><span class="fab fa-github social_icon"></span></a>
        
        <a href="#" class="social_item facebook_color"><span class="fab fa-facebook social_icon"></span></a>
        
        <a href="#" class="social_item instagram_color"><span class="fab fa-instagram social_icon"></span></a>
    </div>
    
    
    
    </div>
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
</div> <!-- Dit is alle tekst in context -->

<audio class="audio" src="audio/Hi.wav"></audio>
<script src="js/script.js"></script>
</body>
</html>