<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Case study 1 | SuperSplash</title>
    <link rel="stylesheet" href="css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:200,400,700,800" rel="stylesheet">
    <link rel="icon" href="./img/favicon.png" type="image/png">
    



</head>

<body class="case_one">
<div id="sidebar">
    <span id="date">2018<span><a href="index.html">gragt.com</a></span></span>
        <div class="menu sidebar_nav">
            <input id="menu_trigger" type="checkbox">
            <label for="menu_trigger">≡</label>
            <div class="menu_overlay" role="dialog" aria-labelledby="menu_title" aria-describedby="menu_desc">
                <div class="menu_wrap">
                    <label for="menu_trigger">&#10006;</label>
                    <h2 id="menu_title">Menu</h2>
                    <div id="menu_desc">
                        <nav>
                            <ul>
                              <li><a class="menu_item" href="index.html"><span class="menu_item_name">Home</span></a></li>
                               <li><a class="menu_item" href="Work.html"><span class="menu_item_name">Work</span></a></li>
                               <li><a class="menu_item" href="about.html"><span class="menu_item_name">About</span></a></li>
                               <li><a class="menu_item" href="contact.html"><span class="menu_item_name">Contact</span></a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- Dit is het menu, en tevens de gehele linker sidebar -->

   
   
   
   <div class="content_txt">
      <div class="social_menu">
      
      <a class="social_menu_item" href="https://www.facebook.com/stijn.vandergragt"><span class="social_menu_item_label">Facebook</span></a>
      <a class="social_menu_item" href="https://www.instagram.com/stijn_gragt/"><span class="social_menu_item_label">Instagram</span></a>
      <a class="social_menu_item" href="https://github.com/stijngragt"><span class="social_menu_item_label">Github</span></a>
      
      </div>
       <!-- <ul>
           <li>User experience design</li>
           <li>Visual design</li>
           <li>Concepting</li>
       </ul> -->
       <h1>Supersplash <span> Tappunt</span></h1>
       <div class="body_txt">
       <p>In samenwerking met het bekende Join The Pipe, hebben wij een oplossing gezocht voor het petfles probleem. Het komt er eigenlijk op neer dat wij, als mensheid, tegenwoordig te veel plastic verbruiken. Dit komt met name omdat alles in een plastic verpakking zit. Ook flesjes water. Er is hier eigenlijk al een goede oplossing voor, namelijk de Join The Pipe tappunten. Hier kunnen studenten hun flesjes bijvullen. Helaas blijkt dat nog steeds veel studenten hun flesjes water kopen en daarna weggooien. Dit is pure verspilling. De design challenge was dan ook: Hoe kunnen we studenten over laten stappen op navoelbare, duurzame flessen?</p>
       
       <h3>Het begin</h3>
       <p>We begonnen met het maken van een soort mindmap. De meest belangrijke vraag was natuurlijk, "wat zijn onze mogelijkheden?" Ik had zelf al ervaring met electrotechniek, dus het was voor mij een leuke uitdaging dat te combineren met dit project. Uiteindelijk kwamen we na lang brainstromen op een tof concept.</p> 
       
        <h3>Het supersplash tappunt</h3>
        <p>Het supersplash tappunt was een concept dat in onze ogen de best mogelijke oplossing was voor het bestaande probleem. Door middel van een "interactieve Join the Pipe" en een app, werden de belangrijkste punten gecombineerd. De pipe had een aantal sensoren die automatisch tappen mogelijk maakte. Het was immers onhanding om je fles te moeten pakken, als je ook al je handen vol hebt met boeken, je tas en mobiele telefoon. Daarnaast werden je "tapstatistieken" bijgehouden in een app. Op deze app kon je verschillende badges winnen zoals, 5 liter getapt of 4 keer op een dag water getapt. Dit werd verwerkt door middel van een NFC chip op de onderkant van je hervulbare fles.</p>

        <h3>De eindsprint</h3>
        <p>Daarnaast was het natuurlijk lastig om het product tot leven te roepen. Ik heb hier mijn electrotechnische kennis toegepast. Met behulp van een micro-controller heb ik het tappunt leven in geblazen met: werkende sensoren, led strips die aangaven of het tappen voltooid was, en een echt werkende pomp met waterreservoir. Daarnaast kon men de tapstatistieken ook echt terugzien op de desktop interface, die gemaakt was om het geheel te monitoren.</p>      
                     
        <h3>Het leerproces</h3>
        <p>Ik heb voornamelijk geleerd hoe ik handig mijn specialiteiten toe kan passen binnen een teamproject</p>                    
                                   
                                          
                                                        </div>               
   </div>
    <div class="content_img">
        <img src="/img/SP2.png">
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
    </div>
    <script src="./js/script.js"></script>
</body>
</html>