<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Case study 1 | SuperSplash</title>
    <link rel="stylesheet" href="css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:200,400,700,800" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Karla" rel="stylesheet">
    <link rel="icon" href="./img/favicon.png" type="image/png">
    



</head>

<body class="index">
<div id="sidebar">
    <span id="date">Home<span><a href="index.html">gragt.com</a></span></span>
        <div class="menu sidebar_nav">
            <input id="menu_trigger" type="checkbox">
            <label for="menu_trigger">≡</label>
            <div class="menu_overlay" role="dialog" aria-labelledby="menu_title" aria-describedby="menu_desc">
                <div class="menu_wrap">
                    <label for="menu_trigger">&#10006;</label>
                    <h2 id="menu_title">Menu</h2>
                    <div id="menu_desc">
                        <nav>
                            <ul>
                              <li><a class="menu_item" href="index.html"><span class="menu_item_name">Home</span></a></li>
                               <li><a class="menu_item" href="Work.html"><span class="menu_item_name">Work</span></a></li>
                               <li><a class="menu_item" href="about.html"><span class="menu_item_name">About</span></a></li>
                               <li><a class="menu_item" href="contact.html"><span class="menu_item_name">Contact</span></a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- Dit is het menu, en tevens de gehele linker sidebar -->
    
   <div class="content_txt">
          <section>
          <h1>Hallo<span>.</span></h1> 
           <p>Ik ben <a href="about.html">Stijn van der Gragt</a> en ik ben een designer gebaseerd in Amsterdam. Ik werk graag aan te gekke, unieke projecten.</p>
           </section>
           
           <p><a href="about.html">Lees meer</a> of check mijn werk hieronder 👇</p>
           
           
           
           
           
           
           
           

           
                  
                         
                                
                                       
                                              
                                                     
                                                                   
   </div>
    <script src="./js/script.js"></script>
</body>
</html>    