<!DOCTYPE html>
<html lang="nl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Work | Gragt.com</title>
    <link rel="stylesheet" href="css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Amiri" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Karla" rel="stylesheet">
    <link rel="icon" href="./img/favicon.png" type="image/png">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/ScrollMagic.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Karla" rel="stylesheet">
    
</head>

<body class="mywork">
    <div id="sidebar">
        <span class="social_change0">work<span><a class="social_change1" href="index.html">gragt.com</a></span></span>
        <div class="menu sidebar_nav">
            <input id="menu_trigger" type="checkbox">
            <label class="social_change2" for="menu_trigger">≡</label>
            <div class="menu_overlay" role="dialog" aria-labelledby="menu_title" aria-describedby="menu_desc">
                <div class="menu_wrap">
                    <label for="menu_trigger">&#10006;</label>
                    <h2 id="menu_title">Menu</h2>
                    <div id="menu_desc">
                        <nav>
                            <ul>
                               <li><a class="menu_item" href="index.html"><span class="menu_item_name">Home</span></a></li>
                                <li><a class="menu_item" href="Work.html"><span class="menu_item_name">Work</span></a></li>
                                <li><a class="menu_item" href="about.html"><span class="menu_item_name">About</span></a></li>
                                <li><a class="menu_item" href="contact.html"><span class="menu_item_name">Contact</span></a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- Dit is het menu, en tevens de sidebar -->
  <div class="main_area">
        <div class="selector" id='container'>
          <article class='card section red'>
              <header class="card_thumbnail"><a href="./Case1.html"><img src="./img/SP1.png"></a></header>
              <div class="card_body">
                  <div class="card_category"><a href="./Case1.html">Concepting</a></div>
                  <h2 class="card_title"><a href="./Case1.html">Supersplash</a></h2>
                  <div class="card_subtitle">Een vernieuwd tappunt</div>
                  <p class="card_description">In samenwerking met het bekende Join The Pipe, hebben wij een oplossing gezocht voor het petfles probleem. Het komt er eigenlijk op neer dat wij, als mensheid, tegenwoordig te veel plastic verbruiken.</p>
              </div>
              
              
              
              
              
              
              
              
              
              
              
              
              
              
          </article>
          <article class='card section red'>
              <header class="card_thumbnail"><a href="#"><img src="./img/SP1.png"></a></header>
              <div class="card_body">
                  <div class="card_category"><a href="#">Concepting</a></div>
                  <h2 class="card_title"><a href="#">Supersplash</a></h2>
                  <div class="card_subtitle">Een vernieuwd tappunt</div>
                  <p class="card_description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit cumque non commodi, modi recusandae cupiditate ipsa ab soluta. Illum, dolore.</p>
              </div>
              
              
              
              
              
              
              
              
              
              
              
              
              
              
          </article>
          <article class='card section red'>
              <header class="card_thumbnail"><a href="#"><img src="./img/SP1.png"></a></header>
              <div class="card_body">
                  <div class="card_category"><a href="#">Concepting</a></div>
                  <h2 class="card_title"><a href="#">Supersplash</a></h2>
                  <div class="card_subtitle">Een vernieuwd tappunt</div>
                  <p class="card_description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit cumque non commodi, modi recusandae cupiditate ipsa ab soluta. Illum, dolore.</p>
              </div>
              
              
              
              
              
              
              
              
              
              
              
              
              
              
          </article>
          <article class='card section red'>
              <header class="card_thumbnail"><a href="#"><img src="./img/SP1.png"></a></header>
              <div class="card_body">
                  <div class="card_category"><a href="#">Concepting</a></div>
                  <h2 class="card_title"><a href="#">Supersplash</a></h2>
                  <div class="card_subtitle">Een vernieuwd tappunt</div>
                  <p class="card_description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit cumque non commodi, modi recusandae cupiditate ipsa ab soluta. Illum, dolore.</p>
              </div>
              
              
              
              
              
              
              
              
              
              
              
              
              
              
          </article>
          <article class='card section red'>
              <header class="card_thumbnail"><a href="#"><img src="./img/SP1.png"></a></header>
              <div class="card_body">
                  <div class="card_category"><a href="#">Concepting</a></div>
                  <h2 class="card_title"><a href="#">Supersplash</a></h2>
                  <div class="card_subtitle">Een vernieuwd tappunt</div>
                  <p class="card_description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit cumque non commodi, modi recusandae cupiditate ipsa ab soluta. Illum, dolore.</p>
              </div>
              
              
              
              
              
              
              
              
              
              
              
              
              
              
          </article>
          <article class='card section red'>
              <header class="card_thumbnail"><a href="#"><img src="./img/SP1.png"></a></header>
              <div class="card_body">
                  <div class="card_category"><a href="#">Concepting</a></div>
                  <h2 class="card_title"><a href="#">Supersplash</a></h2>
                  <div class="card_subtitle">Een vernieuwd tappunt</div>
                  <p class="card_description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit cumque non commodi, modi recusandae cupiditate ipsa ab soluta. Illum, dolore.</p>
              </div>
              
              
              
              
              
              
              
              
              
              
              
              
              
              
          </article>
          <article class='card section red'>
              <header class="card_thumbnail"><a href="#"><img src="./img/SP1.png"></a></header>
              <div class="card_body">
                  <div class="card_category"><a href="#">Concepting</a></div>
                  <h2 class="card_title"><a href="#">Supersplash</a></h2>
                  <div class="card_subtitle">Een vernieuwd tappunt</div>
                  <p class="card_description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit cumque non commodi, modi recusandae cupiditate ipsa ab soluta. Illum, dolore.</p>
              </div>
              
              
              
              
              
              
              
              
              
              
              
              
              
              
          </article>
          <article class='card section red'>
              <header class="card_thumbnail"><a href="#"><img src="./img/SP1.png"></a></header>
              <div class="card_body">
                  <div class="card_category"><a href="#">Concepting</a></div>
                  <h2 class="card_title"><a href="#">Supersplash</a></h2>
                  <div class="card_subtitle">Een vernieuwd tappunt</div>
                  <p class="card_description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit cumque non commodi, modi recusandae cupiditate ipsa ab soluta. Illum, dolore.</p>
              </div>
              
              
              
              
              
              
              
              
              
              
              
              
              
              
          </article>
          <article class='card section red'>
              <header class="card_thumbnail"><a href="#"><img src="./img/SP1.png"></a></header>
              <div class="card_body">
                  <div class="card_category"><a href="#">Concepting</a></div>
                  <h2 class="card_title"><a href="#">Supersplash</a></h2>
                  <div class="card_subtitle">Een vernieuwd tappunt</div>
                  <p class="card_description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit cumque non commodi, modi recusandae cupiditate ipsa ab soluta. Illum, dolore.</p>
              </div>
              
              
              
              
              
              
              
              
              
              
              
              
              
              
          </article>
          <article class='card section red'>
              <header class="card_thumbnail"><a href="#"><img src="./img/SP1.png"></a></header>
              <div class="card_body">
                  <div class="card_category"><a href="#">Concepting</a></div>
                  <h2 class="card_title"><a href="#">Supersplash</a></h2>
                  <div class="card_subtitle">Een vernieuwd tappunt</div>
                  <p class="card_description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit cumque non commodi, modi recusandae cupiditate ipsa ab soluta. Illum, dolore.</p>
              </div>
              
              
              
              
              
              
              
              
              
              
              
              
              
              
          </article> 
</div>    
    <script src="/js/work.js"></script>
    </div><!-- Dit is alle tekst in context -->
</body>

</html>
